  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iste molestiae reprehenderit aliquid nulla nobis minima odio excepturi quo, magni repellendus harum! Officia ducimus culpa nemo quidem veniam labore eum.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="brands">CASIO</a></li>
            <li><a href="brands">TISSOT</a></li>
            <li><a href="brands">ROLEX</a></li>
            <li><a href="brands">OMEGA</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="">HOME</a></li>
            <li><a href="contactus">CONTACT US</a></li>
            <li><a href="brands">BRANDS</a></li>
            <li><a href="register"> SIGNUP</a></li>
            <li><a href="login1">LOGIN</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">ECSTACY</a>.
          </p>
        </div>

        <!-- <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div> -->
      </div>
    </div>
</footer>