

<div class="row">
  <img src="assets\images\corners-homepage-banner-xs_datejust-36_det_rolesor-32199_isov2_300_rvb.jpg" alt="">
</div>
<div>
<br><br>
</div>

<div class="row" style="font-family: 'Times New Roman', Times, serif;text-align: center;">
  <h1 style="font-size:3vw;color: #5a3838;">Our Premium Brands</h1>
</div>

    <div>
      <br><br>
    </div>




<div class="container text-center" style="background-color: rgb(237, 234, 234);padding-bottom:50px ;padding-left: 30px;padding-right: 30px;padding-top: 20px;">
    <div class="row">
      <div class="col mb-2 mt-5" *ngFor="let item of brands">
        <div class="card" style="width: 18rem;">
            <img src="assets\images\{{item.img}}" class="card-img-top" alt="..." height="300" width="200">
            <div class="card-body">
              <a (click)="gotohere(item.id)" class="btn btn-dark btn-lg btn-block"  style="background-color: #5a3838;">Collections</a>
            </div>
          </div>
      </div>
   </div>
</div>
<div>
<br><br>
</div>
 <div class="container" style="text-align: center; ">
    <div class="row">
      <h1 style="font-size:4vw; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>CASIO</b></h1>
      <p style="text-align: justify;font-family: 'Times New Roman', Times, serif; font-size: large;">Casio is a Japanese electronics company that produces a wide range of consumer electronics, including watches. Casio watches are known for their durability, functionality, and affordability.

        Casio offers a variety of watches that cater to different needs and preferences. Some of the popular lines of Casio watches include:
        
        G-Shock: These are tough watches designed for sports and outdoor activities. They are known for their shock resistance, water resistance, and durability.
        
        Pro Trek: These are outdoor watches that come with features like compass, altimeter, barometer, and thermometer.
        
        Edifice: These are sleek and stylish watches designed for the urban lifestyle. They come with features like Bluetooth connectivity, solar power, and world time.
        
        Baby-G: These are women's watches that come in a variety of colors and designs. They are known for their durability and resistance to shock and water.
        
        Casio watches use a variety of technologies, such as quartz movements, solar power, and atomic timekeeping, to provide accurate timekeeping and other features. They are also known for their affordability, with many models priced under $100.
        
        Overall, Casio watches are a popular choice for those who want a reliable and functional timepiece without breaking the bank.
      </p>
    </div>
  </div>
  
  
 <div class="row" style="margin-left: 80px;">
    <div class="col m-4">
      <div class="card" style="width: 18rem;">
        <img src="assets\images\casiobrand.jpg" alt="">
      </div>
    </div>
<div class="col m-2" >
  <div class="card" style="width: 18rem; margin-top: 20px;">
    <img src="assets\images\casiobrand4.jpg" alt="">
  </div>
</div>
<div class="col m-4">
  <div class="card" style="width: 18rem;">
    <img src="assets\images\casiobrand3.jpg" alt="">
  </div>
</div>
<div>
<br><br><br><br>
</div>
  
  <h1 id="bg"><b>ROLEX WATCHES ARE CRAFTED WITH <br> SCRUPULOUS  ATTENTION TO DETAIL</b></h1>
<div>
<br><br><br><br>
</div>
          
<div class="row" >
  <div class="col" style="margin-left: 50px;" >
    <img src="assets\images\rolexart.jpg" alt="" height="400" width="400">
  </div>
  <div class="col " style="font-size: large; font-family: 'Times New Roman', Times, serif; color: #3a2626;text-align: justify; margin-left: 50px;" >
    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, facere provident! Optio pariatur impedit, magni nisi reprehenderit culpa inventore cum dolorum eaque quod voluptatem quasi, doloremque cupiditate doloribus a veniam?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam optio nisi sequi placeat obcaecati consequatur. Eos, reiciendis sint? Aperiam, in. Eius cupiditate fugiat reiciendis alias, at architecto. Nihil, obcaecati quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum expedita nisi mollitia dicta saepe neque distinctio fugit perspiciatis in quis sit, quisquam quia soluta, debitis, corporis ad similique cumque? Quod!</p>
  </div>
  <div class="col">
  </div>
</div>

<div>
<br><br><br><br>
</div>